/*Styles for index.html*/

/*All items*/
.body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif, Helvetica;
}

body {
    margin: 0;
    padding: 0;
}

/*Top text and background color*/
.head, .intro, .foot {
    color: #f9faf8;
    background-color: #1f2937;
    left: 0;
    right: 0;
}

/*Header*/
.head {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    max-height: 72px;
    padding: 0 32px 0;
}

/*Header title and logo*/
.lhead {
    display: flex;
    font-size: 24px;
    padding-left: 16px;
    gap: 16px;
    font-weight: bold;
    align-items: center;
}

/*Header links*/
.rhead {
    display: flex;
    gap: 16px;
    font-size: 18px;
    align-items: center;
    padding: 16px;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 8px 16px 8px;
    border: 0;
    border-radius: 10px;
    max-width: 100px;
}

/*Intro*/
.intro {
    display: flex;
    margin-top: 72px;
    padding: 100px 200px 100px;
    gap: 24px;
    justify-content: center;
}

/**/
.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

/*Footer positioning*/
.foot {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 8px;
}
